.hello h3{
    /* border: solid 1px red; */
    color: rgba(25, 27, 28, 1);
    size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hello p{
    color: rgba(98, 108, 112, 1);
    size: 14px;
    font-weight: 400;
}

.statesContainer{
    /* border: solid 1px yellow; */
    display: flex;
    gap: 14px;
}

